.console {
  max-width: 50em;
  margin-left: 25em;
  margin-top: 10em;
  position: relative;
  padding: 2em 3em;
}

form {
  display: inline-block;
}

.searchPokemon {
  margin-right: 1rem;
}

.searchPokemon > div {
  display: inline-block;
}

h1 {
  margin-left: 5rem;
  color: #ac03fa;
}

input {
  margin-left: 2rem;
  width: 25rem;
}

button {
  margin-left: 2rem;
  background: #ecfd02;
  border: #ecfd02;
  width: 9rem;
  color: black;
  border: none;
}

.divider {
  width: 82.5px;
  height: auto;
  display: inline-block;
}

.mat-accordion {
  color: #ac03fa;
}

// .login .error {
//   color: red;
// }
