<div fxFlex="9 1 90%" fxLayoutAlign="center center">
  <form class="console" (ngSubmit)="submit()">
    <div>
      <input
        type="text"
        name="pokemon"
        [(ngModel)]="pokemonName"
        placeholder="Pokemon Name"
      />
    </div>
    <div>
      <button type="submit" class="btn btn-primary" value="Submit">
        Submit
      </button>
    </div>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Abilities
          </mat-panel-title>
          <mat-panel-description>
            Held Items
          </mat-panel-description>
          <mat-panel-description>
            Moves
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input
            matInput
            placeholder="Ability"
            [(ngModel)]="myAbility"
            name="ability"
          />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Items Held" />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Moves" />
        </mat-form-field>
      </mat-expansion-panel>
      <!-- <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{ panelOpenState ? "open" : "closed" }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel> -->
    </mat-accordion>
  </form>
</div>

<!-- <div>
  Test
  {{ ability }}
</div> -->
